<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Information</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  
</head>
<body>
    <header>
        <h1>Hussain Traders App</h1>
    </header>

    <nav>
        <a href="/listcust">HOME</a>
        <a href="/addcust">New Sale</a>
    </nav>

    
    <main>
        <form action="{{ url_for('addcust') }}" method="POST">
            <h3>New Sale</h3>
            
            <table>
                <tr>
                    <td>                    
                        <label for="region">Select a Region:</label><br>
                        <select id="region" name="region">
                            <!-- <option value="all">All</option> -->
                            {% for region in regions %}
                                <option value="{{ region[0] }}">{{ region[1] }}</option>
                            {% endfor %}
                        </select>
                       
                    </td>
                    <td>
                        <label for="account">Account Number</label><br>
                        <input type="text" id="account" name="account" /><br>
                    </td>
                </tr>
                <tr> 
                    <td>
                        <label for="cnic">CNIC</label><br>
                        <input type="text" id="cnic" name="cnic" /><br>
                        
                    </td>
                    <td>
                        <label for="name">Name</label><br>
                        <input type="text" id="name" name="name" /><br>
                        
                    </td>
                </tr>
                <tr> 
                    <td>
                        
                        <label for="father">Father's name<br>
                        <input type="text" id="father" name="father" /><br>

                    </td>
                    <td>
                        <label for="address">Address</label><br>
                        <input type="text" name="address"></input><br>
                        
                    </td>
                </tr>
                <tr> 
                    <td>
                        <label for="mobile">Mobile Number</label><br>
                        <input type="text" id="mobile" name="mobile" /><br>
            
                    
                    </td>
                    <td>
                        <label for="product">Product</label><br>
                        <input type="text" id="product" name="product" /><br>          
            
                    </td>
                </tr>
                <tr> 
                    <td>
                        <label for="guarantor1">Guarantor1</label><br>
                        <input type="text" id="guarantor1" name="guarantor1" /><br>
                    </td>
                    <td>
                        <label for="guarantor2">Guarantor2</label><br>
                        <input type="text" id="guarantor2" name="guarantor2" /><br>          
            
                    </td>
                </tr>
                <tr> 
                    <td>                         
         
                    <label for="advance">Advance Amount</label><br>
                    <input type="text" id="advance" name="advance" /><br>    

                    </td>
                    <td>
                        <label for="price">Total Price (including Advance)</label><br>
                        <input type="text" id="price" name="price" /><br>    
                    </td>
                </tr>
               
            </table>
          
            <input type="submit" value="Submit" /><br>
        </form>
    </main>

    <footer>
        <p>&copy; 2024 - All Rights Reserved.</p>
    </footer>
</body>
</html>
