<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Information</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  
</head>
<body>
    <header>
        <h1>Hussain Traders App</h1>
    </header>

    <nav>
        <a href="/">HOME</a>
        <a href="/addcust">Add New Customer</a>
        <a href="/listcust">List Customers</a>
    </nav>

    
    <main>
        <form action="{{ url_for('addcust') }}" method="POST">
            <h3>Customer Information</h3>
            <label for="cnic">CNIC Number</label><br>
            <input type="text" id="cnic" name="cnic" /><br>
            
            <label for="name">Name</label><br>
            <input type="text" id="name" name="name" /><br>
            
            <label for="address">Address</label><br>
            <textarea id="address" name="address"></textarea><br>
            
            <label for="region">Region</label><br>
            <input type="text" id="region" name="region" /><br>
            
            <input type="submit" value="Submit" /><br>
        </form>
    </main>

    <footer>
        <p>&copy; 2024 - All Rights Reserved.</p>
    </footer>
</body>
</html>
