<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student DB APP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
   
</head>
<body>
    <header>
        <h1>Hussain Traders App</h1>
    </header>

    <nav>
        <a href="/listcust">HOME</a>
        <a href="/addcust">New Sale</a>
        <a href="/addregion">New Region</a>
    </nav>

    <main>
        <p>Select an option from the navigation menu to proceed.</p>
    </main>

    <footer>
        <p>&copy; 2024 - All Rights Reserved.</p>
    </footer>
</body>
</html>
