<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  
</head>
<body>
   <header>
      <h1>Hussain Traders App</h1>
  </header>

  <nav>
    <a href="/listcust">HOME</a>
    <a href="/addcust">New Sale</a>
</nav>
    <main>
        <table>           
            <tr>
                <td>
                    Search by CNIC: 
                </td>
                <td>
                    <form action="{{ url_for('searchcnic') }}" method="POST">
                    <input type="text" id="searchcnic" name="cnic">
                    <input type="submit" value="Search"/>
                    </form>
                </td>
                <td>
                    Search by Mobile Number: 
                </td>
                <td>
                    <form action="{{ url_for('searchmobile') }}" method="POST">
                    <input type="text" id="searchmobile" name="mobile">
                    <input type="submit" value="Search"/>
                    </form>
                </td>
                <td>
                    Search by Name:
                </td>
                <td>
                    <form action="{{ url_for('searchname') }}" method="POST">
                        <input type="text" id="searchname" name="name">
                        <input type="submit" value="Search"/>
                        </form>
                </td>
            </tr>
        
        </table>

        <div class="message">{{ msg }}</div>
        <form action="{{ url_for('short_installments') }}" method="POST">
            <label for="region">Select a Region:</label>
            <select id="region" name="region">
                <option value="all">All</option>
                {% for region in regions %}
                    <option value="{{ region[0] }}" {% if region[0] == selected_region %}selected{% endif %}>{{ region[1] }}</option>
                {% endfor %}
            </select>

            <input type="submit" value="Show short payments"/>
        </form>
        <table>
            <thead>
                <tr>
                    <th>Modified</th>
                    <th>CNIC</th>
                    <th>Account</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Region</th>
                    <th>Mobile Number</th>
                    <th>Remaining Amount</th>
                    <th>Product</th>                    
                    <th>Pay Installment</th>
                    <th>Leder</th>
                 
                </tr>
            </thead>
            <tbody>
                {% for row in customers %}
                <tr>
                    <td>{{ row["modified"] }}</td>
                    <td>{{ row["cnic"] }}</td>
                    <td>{{ row["account_number"] }}</td>
                    <td>{{ row["name"] }}</td>
                    <td>{{ row["addr"] }}</td>
                    <td>{{ row["region"] }}</td>
                    <td>{{ row["mobile_number"] }}</td>
                    <td>{{ row["remaining_amount"] }} Rs.</td>
                    <td>{{ row["product"] }}</td>                    
                    <td>
                        <form action="{{ url_for('pay_installment') }}" method="POST">
                            <input type="text" id="amount_{{ row['customer.id'] }}" name="amount">
                            <input type="hidden" id="customerid_{{ row['customer.id'] }}" name="customerid" value="{{ row['customer_id'] }}">
                            <input type="hidden" id="installmentid_{{ row['id'] }}" name="installmentid" value="{{ row['id'] }}">

                            <input type="submit" value="Pay"/> 
                        </form>
                    </td>
                    <td>
                        <form action="{{ url_for('ledger') }}" method="POST">
                            <input type="hidden" id="customerid_{{ row['customer.id'] }}" name="customerid" value="{{ row['customer_id'] }}">
                            <input type="hidden" id="installmentid_{{ row['id'] }}" name="installmentid" value="{{ row['id'] }}">

                            <input type="submit" value=">>Ledger"/></div>
                        </form>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>